<div id="footer" class="footer-text">
  <div class="container centered footer-inside <%= isHideable %>">
    <span class="slide-text">SLIDE TO CONTINUE</span><span class="slide-arrow">&#10142</span>
  </div>
</div>
