<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-slider.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/jquery.fullpage.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/swiper.css">
    <link rel="stylesheet" href="/styles/swiper.min.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/Chart.js"></script>
    <script src="/js/bootstrap-slider.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/clean-blog.min.js"></script>
    <script src="/js/fullpage/jquery.fullpage.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/swiper.jquery.js"></script>
    <script src="/js/test.js"></script>
    <script src="/js/typed.js"></script>
    <!--SCRIPTS END-->

    <script>

    $(document).ready(function () {
    //initialize swiper when document ready
    var mySwiper = new Swiper ('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,
      effect: 'slide',
    })
  });
    // $(document).ready(function() {
    //     $('#fullpage').fullpage();
    // });

    // $(document).ready(function() {
    //   $('#fullpage').fullpage({
    //       //Navigation
    //       // menu: '#menu',
    //       // lockAnchors: false,
    //       // anchors:['firstPage', 'secondPage'],
    //       // navigation: false,
    //       // navigationPosition: 'right',
    //       // navigationTooltips: ['firstSlide', 'secondSlide'],
    //       // showActiveTooltip: false,
    //       // slidesNavigation: true,
    //       // slidesNavPosition: 'bottom',
    //
    //       // //Scrolling
    //       // css3: true,
    //       // scrollingSpeed: 700,
    //       // autoScrolling: true,
    //       // fitToSection: true,
    //       // fitToSectionDelay: 1000,
    //       // scrollBar: false,
    //       // easing: 'easeInOutCubic',
    //       // easingcss3: 'ease',
    //       // loopBottom: false,
    //       // loopTop: false,
    //       // loopHorizontal: true,
    //       // continuousVertical: false,
    //       // normalScrollElements: '#element1, .element2',
    //       // scrollOverflow: false,
    //       // scrollOverflowOptions: null,
    //       // touchSensitivity: 15,
    //       // normalScrollElementTouchThreshold: 5,
    //
    //       //Accessibility
    //       // keyboardScrolling: true,
    //       // animateAnchor: true,
    //       // recordHistory: true,
    //       //
    //       // //Design
    //       // controlArrows: true,
    //       // verticalCentered: true,
    //       // sectionsColor : ['#ccc', '#fff'],
    //       // paddingTop: '3em',
    //       // paddingBottom: '10px',
    //       // fixedElements: '#header, .footer',
    //       // responsiveWidth: 0,
    //       // responsiveHeight: 0,
    //       //
    //       // //Custom selectors
    //       // sectionSelector: '.section',
    //       // slideSelector: '.slide',
    //
    //       //events
    //       // onLeave: function(index, nextIndex, direction){},
    //       // afterLoad: function(anchorLink, index){},
    //       // afterRender: function(){},
    //       // afterResize: function(){},
    //       // afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
    //       // onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
    //   });
    // });
    </script>

  </body>
</html>
