<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include ../app/components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
      </div>
    </div><!-- row -->
    <div class="typed-text-container login-text" style="margin-top:7%;">

      <span>Got it,</span><br>
      <span>go back to the</span><br>
      <span>iPad and</span><br>
      <span>continue with</span><br>
      <span>the</span><br>
      <span>Experiment</span><br>

    </div>
  </div>
</div> <!-- Wrapp -->

<div id="footer" class="footer-text">
  <div class="container centered" id="fotterMessage">
  </div>
</div>
