<!-- Header top -->
<!-- Slider main container -->
<div class="swiper-container">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide" href="app-Repeat">
          <%- include app-Repeat.ejs %>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>

</script>
