<!-- Header top -->
<!-- Slider main container -->
<div class="swiper-container">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide" href="app-Login">
          <%- include ../app/fakeLoad.ejs %>
        </div>

        <div class="swiper-slide" href="app-Reward">
          <%- include app-Reward.ejs %>
        </div>

        <div class="swiper-slide" href="app-Back">
          <%- include app-Back.ejs %>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>

</script>
