<!-- Header top -->
<!-- Slider main container -->
<div class="swiper-container">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide" href="fakeLoad">
          <%- include ../app/fakeLoad.ejs %>
        </div>

        <div class="swiper-slide" href="app-Reward">
          <%- include app-Reward.ejs %>
        </div>

        <div class="swiper-slide" href="app-Back">
          <%- include app-Back.ejs %>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script>
$(document).ready(function(){
  var progress = 0
  $(".progressLabel").html(progress)
  interval = setInterval(function() {
    progress += 0.80;
    $(".progressLabel").html(Math.round(progress))
    if (progress >= 100) {
      clearInterval(interval);
      $(".progressLabel").html(100)
      setTimeout(function () {
        mySwiper.unlockSwipeToNext()
        mySwiper.slideNext(true, 1000)
      }, 750)
    }
  }, 50)
})
</script>
