<div id="wrap">
  <div class="overlay">
    <div class="row" style="margin:0px;">
      <div class="col-xs-3" style="padding:3%; text-align: left;">
        <img src="img/dds_w.png" height="100%" width="100%">
      </div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div class="typed-text-container">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3" style="font-size: 10vw;" >ON</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="height: 10vw; font-size: 10vw;">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3" style="font-size: 10vw;" >I want to be in</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="height: 10vw; font-size: 10vw;">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3" style="font-size: 10vw;" >with</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="height: 10vw; font-size: 10vw;">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3" style="font-size: 10vw;" >doing</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="height: 10vw; font-size: 10vw;">
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3" style="font-size: 10vw;" >while feeling</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="height: 10vw; font-size: 10vw;">
      </div>
    </div>
  </div>
</div> <!-- Wrapp -->

<div id="footer" class="footer-text">
  <div class="container centered">
    <button id="ReleaseBall" class="btn" style="font-size: 10vw;">Release Ball</span>
  </div>
</div>
