<div id="VContainer">

  <!-- Video container in case we want to use an animated background -->
  <video id="videobk" class="vjs-tech" loop="" autobuffer>
    <source src="BigBuck.m4v">
    <source src="BigBuck.webm" type="video/webm">
    <source src="BigBuck.theora.ogv" type="video/ogg">
  </video>

  <div id="wrap">
    <div class="overlay">
      <div class="row" style="margin:0px;">
        <div class="col-xs-3" style="padding:3%; text-align: left;">
          <img src="img/dds_w.png" height="100%" width="100%">
        </div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-3" style="padding:3%; text-align: right;">
          <img src="img/spotify_w.png" height="100%" width="100%">
        </div>
      </div><!-- row -->
      <div class="typed-text-container">
        <span id="message"></span>
      </div>
    </div>
  </div> <!-- Wrapp -->

  <div id="footer" class="footer-text">
    <div class="container centered" id="footer-1-content">
      <span id="linkPlay">Slide to continue</span>
    </div>
  </div>

</div>
