<div id="wrap">
  <div class="overlay">
    <div class="row" style="margin:0px;">
      <div class="col-xs-3" style="padding:3%; text-align: left;">
        <img src="img/dds_w.png" height="100%" width="100%">
      </div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <img src="img/spotify_w.png" height="100%" width="100%">
      </div>
    </div><!-- row -->
    <div class="typed-text-container">
      <span id="message5">Hurray Our engine Understood you genius musical dynamic.</span>
    </div>
  </div>
</div> <!-- Wrapp -->

<div id="footer" class="footer-text">
  <div class="container centered footer-inside">
    <span id="linkPlay">Slide to continue</span>
  </div>
</div>
