<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div>
      Define your moment
    </div>
    <div class="typed-text-container" id="tk-data">
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3" >Nick</span>
        <input type="text" class="form-control app-12-input" id="tk-nick" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3">On</span>
        <input type="text" class="form-control app-12-input" id="tk-when" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3">I want to be in</span>
        <input type="text" class="form-control app-12-input" id="tk-where" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3">With</span>
        <input type="text" class="form-control app-12-input" id="tk-with" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3">Doing</span>
        <input type="text" class="form-control app-12-input" id="tk-doing" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon app-12-label" id="basic-addon3">While feeling</span>
        <input type="text" class="form-control app-12-input" id="tk-how" aria-describedby="basic-addon3">
      </div>
    </div>

    <br>
    <br>
    <br>

    <div class="container centered">
      <button id="ReleaseBall" class="btn btn-active" style="font-size: 10vw;" onClick="SendFormTK()">Release Ball</span>
    </div>
  </div>

</div> <!-- Wrapp -->
