<div id="up-half-wrap-4" class="up-half-wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div class="typed-text-container" onClick="setShare(1)" style="margin-top:-5%;">
      <span id="message4">Sharing is caring! </span> <span class="underline"> I share </span><span> my spotify account with other people.</span>
      <br><span class="text-small underline">Click here if you share it</span>
    </div>
  </div>
</div> <!-- Wrapp -->
<div id="bot-half-wrap-4" class="up-half-wrap">
  <div class="overlay-white">
    <div class="typed-text-container" onClick="setShare(0)" style="padding-top: 15%;">
      <span id="message4">Hell no, I </span> <span class="underline"> don't share </span><span>my spotify account with anyone else.</span>
      <br><span class="text-small underline">Click here if you don't share it</span>
    </div>
  </div>
</div>
