<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->

    <div class="container centered">
      <a id="ReleaseTheBall">CLICK TO<br>RELEASE<br>THE MARVEL</a>
    </div>

  </div>
</div>
