<div id="wrap">
  <div class="overlay">
    <div class="row" style="margin:0px;">
      <div class="col-xs-3" style="padding:5%; text-align: left;">
        <img src="img/dds_w.png" height="75%" width="75%">
      </div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div class="typed-text-container">
      <span id="message5">Hip hip horray! Our engine has been able to analyze your musical habits</span>
    </div>
  </div>
</div>

<% include components/footer %>
