<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div style="text-align: center;">
      <span class="underline app-12-title">Define your future moment:</span>
    </div>
    <div class="typed-text-container" id="tk-data" style="text-align: left; margin-top:0%; padding-bottom:0px;">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Name</span>
        <input type="text" class="form-control app-12-input" id="tk-nick" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        When do you wan to live your moment?</span>

        <div class="row">
          <div class="col-xs-4" style="width:33%;">
            <div class="form-group">
              <label class="app-12-label" for="sel1">Months</label>
              <select class="form-control" id="tk-months">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>

          <div class="col-xs-4" style="width:33%;">
            <div class="form-group">
              <label class="app-12-label" for="sel1">Days</label>
              <select class="form-control" id="tk-days">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
          </div>

          <div class="col-xs-4" style="width:33%;">
            <div class="form-group">
              <label class="app-12-label" for="sel1">Hours</label>
              <select class="form-control" id="tk-hours">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
              </select>
            </div>
          </div>

        </div>
        <!-- <input type="text" class="form-control app-12-input" id="tk-when" aria-describedby="basic-addon3"> -->

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Where do you want to be?</span>
        <input type="text" class="form-control app-12-input" id="tk-where" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        With who?</span>
        <input type="text" class="form-control app-12-input" id="tk-with" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Doing what?</span>
        <input type="text" class="form-control app-12-input" id="tk-doing" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Feeling how?</span>
        <input type="text" class="form-control app-12-input" id="tk-how" aria-describedby="basic-addon3">

    </div>

    <div class="container centered">
      <button id="SendButton" onClick="SendFormTK()">Send</button>
    </div>
  </div>

</div> <!-- Wrapp -->
