<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->
    <div style="text-align: center;">
      <span class="underline app-12-title">Define your future moment:</span>
    </div>
    <div class="typed-text-container" id="tk-data" style="text-align: left; margin-top:0%; padding-bottom:0px;">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Name</span>
        <input type="text" class="form-control app-12-input" id="tk-nick" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        When do you wan to live your moment?</span>
        <input type="text" class="form-control app-12-input" id="tk-when" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Where do you want to be?</span>
        <input type="text" class="form-control app-12-input" id="tk-where" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        With who?</span>
        <input type="text" class="form-control app-12-input" id="tk-with" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Doing what?</span>
        <input type="text" class="form-control app-12-input" id="tk-doing" aria-describedby="basic-addon3">

        <span class="input-group-addon app-12-label valigned" id="basic-addon3" ><span class="slide-arrow bigarrow valigned">&#10142 </span>
        Feeling how?</span>
        <input type="text" class="form-control app-12-input" id="tk-how" aria-describedby="basic-addon3">

    </div>

    <div class="container centered">
      <button id="SendButton" onClick="SendFormTK()">Send</button>
    </div>
  </div>

</div> <!-- Wrapp -->
