<div id="wrap">
  <div class="overlay-black">
    <div class="row" style="margin:0px;">
      <% include components/dds_w %>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->

    <div id="casePourpre">
      <div id="load" class="loading-text">
        <span>Loading...</span><span class="progressLabel"> </span><span>%</span>
      </div>
      <div id="vague">
        <div id="vague1" class="loadbar"></div>
        <div id="vague2" class="loadbar"></div>
        <div id="vague3" class="loadbar"></div>
        <div id="vague4" class="loadbar"></div>
        <div id="vague5" class="loadbar"></div>
        <div id="vague6" class="loadbar"></div>
      </div>
    </div>

  </div>
</div> <!-- Wrapp -->
