<div id="wrap">
  <div class="overlay">
    <div class="row" style="margin:0px;">
      <div class="col-xs-3" style="padding:3%; text-align: left;">
        <img src="img/dds_w.png" height="100%" width="100%">
      </div>
      <div class="col-xs-6">
      </div>
      <div class="col-xs-3" style="padding:3%; text-align: right;">
        <!-- <img src="img/spotify_w.png" height="100%" width="100%"> -->
      </div>
    </div><!-- row -->

    <div class="wheel-container">
      <div class="progress-wheel">
        <canvas id="inactiveProgress" class="inactiveProgress progress-inactive" height="275px" width="275px"></canvas>
        <canvas id="activeProgress" class="activeProgress progress-active"  height="275px" width="275px"></canvas>
        <p>0%</p>
      </div>
    </div>

  </div>
</div> <!-- Wrapp -->
