/* FONTS */
@font-face {
    font-family: 'GraphicBlack';
    src: url('/fonts/Graphik-Semibold.otf');
    font-weight: normal;
    /*font-style: bold;*/
}

.noUi-vertical .noUi-handle {
  width: 10vw;
  height: 10vw;
  background: url('../img/button2.png') no-repeat 50%;
  background-size: contain;
  border: none;
  cursor: pointer;
  top: -5vw;
  left: -4.7vw;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-target {
  border: none;
}

.noUi-vertical {
    width: 1vw;
}

.noUi-handle {
  box-shadow: none;
}

.sliders {
  height:28vh; display: inline-block;
}

.sliders-text {
  font-size: 2vw;
  padding-top: 5%;
}

.noUi-background {
  background: black;
}

.noUi-connect {
  background: black;
  -webkit-transition: background 750ms;
  transition: background 750ms;
}

.noUi-target {
  border-radius: 50vw;
}

.noUi-origin {
  border-radius: 50vw;
}

[disabled] .noUi-connect, [disabled].noUi-connect {
    background: white;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: rgb(57, 194, 95);
}

.sliders-heading {
  font-size: 3vw;
  font-weight: bold;
  color: white;
  padding: 5%;
}

.pic-counter {
  color: white;
  margin-bottom: -100%;
  font-size: 5vw;
  text-align: right;
  padding: 1%;
  font-weight: 900;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-text-container {
    font-family: 'GraphicBlack';
    margin-top: 10%;
    /*color: white;*/
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 5.5vw;
    width:100%;
    line-height: 130%;
    font-weight: 900;
}

.typed-text {
  font-weight: 100;
}

.spotygreen {
    color:rgb(57, 194, 95);
}

#typed-name {
  font-weight: bold;
}

@-webkit-keyframes fade-in{
  0%   {opacity:1}
  50%  {opacity:0}
  100% {opacity:1}
}

.footer-text {
  font-weight: bold;
  font-size: 2vw;
  color:rgb(57, 194, 95);
  -webkit-animation:fade-in 3s infinite;
  letter-spacing: 7px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -10vh;
}

.up-half-wrap {
  min-height: 50vh;
  height: 50vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -10%;
}

.up-img-wrap {
  min-height: 40vh;
  height: 40vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -10%;
}

.bot-half-wrap {
  min-height: 50vh;
  height: 50vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -10vh;
}

.bot-img-wrap {
  min-height: 60vh;
  height: 60vh;
  /* Negative indent footer by it's height */
  margin: 0 auto -10vh;
}

@-webkit-keyframes fade {
  from {background-color: rgba(0,0,0,0);}
  to {background-color: rgba(0,0,0,1);}
}

.up-half-wrap-hide:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
  height: 40vh;
  transition: background-color 5s;
  background-color: rgba(0,0,0,1);
  animation-name: fade;
  animation-duration: 5s;
}

.allport {
  min-height: 100vh;
  height: auto !important;
  height: 100vh;
  background-color: black;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 10vh;
}
#footer {
}

.overlay {
  background-color: rgba(25, 25, 28, 0.67);
  width: 100vw;
  height: 100vh;
  color: white;
}

.overlay-black {
  background-color: #18181d;
  width: 100vw;
  height: 100vh;
  color: white;
}


.overlay-white {
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 100vh;"
  color: black;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#VContainer {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#VContainer video {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

#VContainer div {
    position: relative;
    z-index: 1;
}

.input-group-addon:hover{
  border: none;
}

.app-12-label {
  text-align: left;
  color: grey;
  font-size: 4vw;
  background: none;
  border: none;
}

.app-12-input {
  color: white;
  font-size: 3vw;
  border-radius: 0px;
  border: 0px solid white;
  border-bottom-width: 1px;
  background-color: transparent;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  margin-left: 7%;
  width: 90%;
  height: 100%;
}

#ReleaseBall {
  background-color: white;
}

.underline {
  text-decoration: underline;
}

.slide-arrow {
  font-size: 32px;
  vertical-align:middle;
}

.slide-text {
  font-size: 32px;
  vertical-align:middle;
}

.bigarrow {
  font-size: 4vw;
  color: rgb(57, 194, 95);
}

.valigned {
  vertical-align:middle;
}

.text-small {
  font-weight: lighter;;
  font-size: 2vw;
  vertical-align:middle;
}

.swiper-container-horizontal>.swiper-pagination-progress {
  top: 98%;
}

.swiper-container-horizontal>.swiper-pagination-progress {
  height: 8vh;
}

#LoginButton {
  font-weight: 400;
  margin-top: 15%;
  font-size: 6vw;
  border-radius: 50em;
  min-width: 80%;
  padding: 1%;
}

#SendButton {
  font-weight: 400;
  margin-top: 2.5%;
  font-size: 4vw;
  border-radius: 50em;
  min-width: 40%;
  padding: 1%;
}

#ReleaseTheBall {
  font-weight: 400;
  margin-top: 5%;
  font-size: 2vw;
  border-radius: 50em;
  min-width: 40%;
  color: white;
  letter-spacing: 7px;
}

.app-12-title {
  font-weight: 400;
  font-size:6.5vw;
}

.animation-fadding {
  -webkit-animation: fade-White 10s infinite;
}

@-webkit-keyframes fade-White{
  0%   {color:rgb(57, 194, 95)}
  50%  {color:rgb(255, 255, 255)}
  100% {color:rgb(57, 194, 95)}
}

.login-text {
  margin-top: -5%;
  font-size: 8.5vw;
}
