.noUi-vertical .noUi-handle {
  width: 10vw;
  height: 10vw;
  background: url('../img/button2.png') no-repeat 50%;
  background-size: contain;
  border: none;
  cursor: pointer;
  top: -5vw;
  left: -4.2vw;
}

.noUi-handle:after, .noUi-handle:before {
  display: none;
}

.noUi-target {
  border: none;
}

.noUi-vertical {
    width: 2vw;
}

.noUi-handle {
  box-shadow: none;
}

.sliders {
  height:25vh; display: inline-block;
}

.sliders-text {
  padding-top: 25%;
}

.noUi-background {
  background: black;
}

.noUi-connect {
  background: black;
  -webkit-transition: background 750ms;
  transition: background 750ms;
}

.noUi-target {
  border-radius: 50vw;
}

.noUi-origin {
  border-radius: 50vw;
}

[disabled] .noUi-connect, [disabled].noUi-connect {
    background: white;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: rgb(57, 194, 95);
}
