<div style="width: 500px; background-color: #3f3f3f; padding:40px 0px 20px 0px; text-align: center; color: white; font-family: Arial, Helvetica, sans-serif";>

  Hi @NAME, here's your<br>
  <span style="font-weight: bold">Song</span> for <span style="text-decoration: underline">The Timekeeper</span>

  <div style="width: 250px; background-color: #7ed548; margin:40px 115px 0px 115px; color: white; border-radius: 0.25em; padding: 10px">

    <br>
    <div style="width:77px ; height: 94px"></div>
    <br>

    <span style="font-size: 24px; font-weight: bold">
    This is your <br>
    moment, <br>
    and this <br>
    one your <br>
    song: <br>
    </span>
    <br>
    @SONG<br>
    <br><br>
    <a style="background-color: #eaeaea; color: black; border-radius: 0.25em; padding: 10px; text-decoration: none;" href="">LISTEN YOUR SONG</a><br><br><br>
    a project of<br>
    Logo DDS<br>
    <br>
    <br>
    Proudly co-produced with:<br>
    Sonar <br>
    <br>
    <br>
    In strong collaboration with:<br>
    Logo Spotify<br>
    <br>

  </div>

  <div style="margin-top: 30px; margin-bottom: 20px; color: #7ed548">
    <a href="http://domesticstreamers.com/" style="text-decoration: none; color: #7ed548">Check out more experiments</a>
  </div>
</div>
