<br><br>

Needless to say this is not yet finished...

<div class="well">
  <form class="form-inline">
    <span>
      On
      <input type="text" class="form-control" placeholder="TODO!"></span>
      I desire to be in
      <input type="text" class="form-control" placeholder="where"></span>
      with
      <select class="form-control">
        <option>nobody</option>
        <option>my family</option>
        <option>my friends</option>
        <option>my partner</option>
        <option>peppa pig</option>
      </select>
      doing
      <input type="text" class="form-control" placeholder="what"></span>
      while feeling
      <select class="form-control">
        <option>sad</option>
        <option>happy</option>
        <option>disapointed</option>
        <option>suicidal</option>
        <option>horny</option>
      </select>
    </span>
  </form>
</div>

  <div class="row centered">
    <div class="col-lg-12">
      <div id="Homebound">
        <div style="margin-top: 20px;">
          <button class="btn btn-primary" style="font-size:32px;" onclick="load('/desire','#Desire')">Tell me your most secret desire...</button>
        </div>
      </div>
    </div>
    <br><br>
  </div><!-- row -->
