
<br><br>

<div class="container" id="ExplorerForm" style="text-align: center;">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" id="explorerImage0">
        <%- partial('picture') %>
      </div>
      <div class="item" id="explorerImage1">
        <%- partial('picture') %>
      </div>
      <div class="item" id="explorerImage2">
        <%- partial('picture') %>
      </div>
      <div class="item" id="explorerImage3">
        <%- partial('picture') %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="row centered">
  <div class="col-lg-12">
    <div id="Homebound">
      <div style="margin-top: 20px;">
        <button class="btn btn-primary" style="font-size:32px;" onclick="updateScore('#scoreExplorer')">Update Score</button>
      </div>
    </div>
  </div>
  <br><br>
</div><!-- row -->

<div id="scoreExplorer">
</div>

<div class="row centered">
  <div class="col-lg-12">
    <div id="Homebound">
      <div style="margin-top: 20px;">
        <button class="btn btn-primary" style="font-size:32px;" onclick="load('/explorer','#Explorer')">Let me look into your mind...</button>
      </div>
    </div>
  </div>
  <br><br>
</div><!-- row -->

<script>

// Instantiate a slider
var mySlider = $("input.slider").slider({
  min:0,
  max:100,
  step:1,
  orientation:'vertical',
  reversed:true,
});

</script>
