<h2>You are a <%= homebound['result'] %> !</h2>

<table class="table borderless">
  <thead>
    <tr>
      <th width="200px;"></th>
      <th></th>
      <th width="200px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="font-size: 18px;">Homebound</span></td>
      <td>
        <div class="progress" style="background-color: #2a9f9f;">
          <div class="progress-bar progress-bar-sopty" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:<%= homebound['value']*100%>%">
           <span class="sr-only"></span>
          </div>
        </div>
      </td>
      <td><span style="font-size: 18px;">Tastemaker</span></td>
    </tr>
  </tbody>
</table>

<h2>Why is that so?</h1>

<span>Put a contaienr here with a brief description about the formula and how the user's score has been computed</span>

<h3>If you want to know more...</h3>
This will be filled with some info and maybe genres
<br>

<div class="row" style="text-align:left;">
  <div class="col-md-6">
    <h3>The list of your most recent listen genres</h3>
    <% genresS.forEach(function (genre) { %>
      <li><h4><%= genre %></h4></li>
    <% })%>
  </div>
  <div class="col-md-6">
    <h3>The list of your mid term listen genres</h3>
    <% genresM.forEach(function (genre) { %>
      <li><h4><%= genre %></h4></li>
    <% })%>
  </div>
</div>

<br>
