<div>
  <img src="img/explorer<%=pictureId%>.jpeg">
</div>
<div class="slider-container">
  <table class="table borderless">
    <tbody>
      <tr>
        <td><input class="slider" name="Amazing"></td>
        <td><input class="slider" name="Intense"></td>
        <td><input class="slider" name="Chills"></td>
        <td><input class="slider" name="Boring"></td>
      </tr>
      <tr>
        <td>Amazing</td>
        <td>Intense</td>
        <td>Chills</td>
        <td>Boring</td>
      </tr>
    </tbody>
  </table>
</div>
