<table class="table borderless">
  <thead>
    <tr>
      <th width="200px;"></th>
      <th></th>
      <th width="200px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span style="font-size: 18px;"><%= left %></span></td>
      <td>
        <div class="progress" style="background-color: #2a9f9f;">
          <div class="progress-bar progress-bar-sopty" role="progressbar" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= value %>%">
           <span class="sr-only"></span>
          </div>
        </div>
      </td>
      <td><span style="font-size: 18px;"><%= right %></span></td>
    </tr>
  </tbody>
</table>
