Player:
<div id="PlayerContainer">
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
  $('document').ready(function() {
    $('#PlayerContainer').html('<iframe id="Fakeplayer" src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:<%= trackID %>" frameborder="0" allowtransparency="true" style="display: block;"></iframe>')
    $("#Fakeplayer").contents().find(".play-pause-btn").click();
  })
</script>
